<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" (keyup.enter)="add()" [(ngModel)]="title" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
      <!-- class="completed" -->
      <li class="{{task.isDone ?'completed':''}}" *ngFor="let task of tasks">
        <div class="view" (click)="isDone(task.id)">
          <input class="toggle" type="checkbox" checked>
          <label>{{task.title}}</label>
          <button class="destroy" (click)="remove(task.id)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{tasks.length}}</strong> Items</span>
  </footer>
</section>
